<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.paycoin">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PayCoin">
        <activity
            android:name=".DadosTransferencia"
            android:exported="false" />
        <activity
            android:name=".RecuperaSenha"
            android:exported="false" />
        <activity
            android:name=".pagar.QRCode"
            android:exported="false" />
        <activity
            android:name=".pagar.CodBarrasDigit"
            android:exported="false" />
        <activity
            android:name=".pagar.TransacaoConcluida"
            android:exported="false" />
        <activity
            android:name=".pagar.DadosTransacao"
            android:exported="false" />
        <activity
            android:name=".pagar.CodBarras"
            android:exported="false" />
        <activity
            android:name=".PerfilUser"
            android:exported="false" />
        <activity
            android:name=".Historico"
            android:exported="false" />
        <activity
            android:name=".pagar.Pagar"
            android:exported="false" />
        <activity
            android:name=".deposito.Depositar"
            android:exported="false" />
        <activity
            android:name=".cadastro.CadastroUser"
            android:exported="false" />
        <activity
            android:name=".TelaInicial"
            android:exported="false" />
        <activity
            android:name=".cadastro.MainActivity"
            android:exported="false" />
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>